# 🔐 Fichiers sensibles
.token.json
.env

# 🐍 Python
*.pyc
__pycache__/
*.pyo
*.pyd

# 📦 Environnements virtuels
venv/
env/

# 🧪 Tests et logs
*.log
logs/
coverage/

# 🗃️ Bases de données
*.db
*.sqlite3

# 📄 Fichiers générés
*.pdf
*.xlsx
*.csv

# 🖼️ Fichiers temporaires
*.tmp
*.bak

# 🧠 Streamlit
.streamlit/

# 🧰 VSCode
.vscode/

# 🧪 Jupyter
.ipynb_checkpoints/

# 📦 Packages
__init__.py

# 📁 Dossiers spécifiques
.cache/
dist/
build/
